#Contact {
  padding-bottom: 30px;
  overflow: hidden;
}
#contact-card {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-top: 150px;
  background-color: #4a1053;
  border: 2px solid #6f187d;
  border-radius: 10px;
}
.contact-card-a {
  color: #fff;
  padding: 30px;
  text-align: center;
}
.contact-card-a h3 {
  font-size: 30px;
  font-weight: 700;
}
.contact-instruction {
  margin: auto;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

.listing {
  text-align: center;
}
.listing ul {
  display: inline-block;
  text-align: left;
}
.listing li {
  font-size: 18px;
  padding-bottom: 28px;
  list-style: none;
}

@media only screen and (max-width: 650px) {
  #contact-card li,
  #contact-card p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #contact-card {
    width: 90%;
  }
  .contact-instruction {
    width: 80%;
  }
  #contact-btn {
    vertical-align: center;
  }
}
