#home {
  color: white;
  padding-top: 45px;
}

#section-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 50px;
  padding-bottom: 40px;
  margin-top: 85px;
}

.Topic {
  line-height: 2.5rem;
  /* margin: auto; */
}
div .stat-a {
  display: inline;
  color: #7b6e7f;
  background-color: #f8d6fe;
  padding: 5px;
  border: none;
  border-radius: 8px;
  line-height: 4rem;
  font-size: 16px;
  font-weight: 500;
}
div .stat-b {
  width: 80%;
  padding-bottom: 20px;
}
div .stat-c {
  width: 80%;
  line-height: 1.5rem;
  padding-bottom: 25px;
  font-size: 20px;
}
.swap {
  text-decoration: none;
  background: linear-gradient(to left, #9847ff, #df31fa);
  color: white;
  margin-right: 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  padding: 6px;
  transition: 0.2 ease-in-out;
  font-weight: 500;
}

.swap:hover {
  background: #fdfcfe;
  border-color: #9847ff;
  color: #c239fb;
  border: 1px solid #c239fb;
}
.learn {
  color: #c239fb;
  border: 1px solid #c239fb;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  padding: 6px;
  transition: 0.2 ease-in-out;
  font-weight: 500;
}
.learn:hover {
  background: linear-gradient(to left, #9847ff, #df31fa);
  color: white;
  border-color: #9847ff;
  border: 1px solid #c239fb;
}
.frame1 {
  color: black;
  overflow: hidden;
  width: 70%;
}
.frame1 img {
  width: 100%;
  height: 80%;
}
.frame2 {
  color: black;
}

.frame2 img {
  height: 400px;
  width: 100%;
  padding: 30px 50px;
  margin-bottom: 50px;
}
#section-b,
#section-c {
  color: white;
  text-align: center;
}
#section-b p {
  font-size: 20px;
}

.Topic-b,
.Topic-c {
  border: 2px solid #c239fb;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: inline-block;
}
#section-c {
  padding-bottom: 25px;
}

.community-header {
  font-size: 25px;
  font-weight: 500;
}
.listing {
  text-align: center;
}
.listing ul {
  display: inline-block;
  text-align: left;
}
.listing p {
  font-size: 20px;
  padding-bottom: 15px;
}
#section-c li {
  font-size: 18px;
  padding-bottom: 15px;
  list-style: none;
}
.discord {
  font-size: 18px;
  background: linear-gradient(to left, #9847ff, #df31fa);
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: white;
  transition: 0.2 ease-in-out;
  margin-bottom: 30px;
  font-weight: 500;
}
.discord:hover {
  background: #fdfcfe;
  border-color: #9847ff;
  color: #c239fb;
  border: 1px solid #c239fb;
  box-shadow: 0.9px 0.8px #c239fb;
  padding: 20px;
}
@media only screen and (max-width: 650px) {
  #section-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: 40px;
  }
  .frame2 img {
    padding: 30px 20px;
  }

  #section-c li,
  #section-c p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
